[Unit]
Description=PJK UDP Server Encrypted
After=network.target

[Service]
Type=simple
User=member
WorkingDirectory=/home/member/praktikum-pengantar-jaringan-komputer/Modul9/server
ExecStart=/home/member/praktikum-pengantar-jaringan-komputer/Modul9/server/.venv/bin/python /home/member/praktikum-pengantar-jaringan-komputer/Modul9/server/udp-server.py
RestartSec=5

[Install]
WantedBy=multi-user.target
